/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .poem_title {
  position: relative;
  top: 20px;
}

.liked_poem {
	border: 1px solid black;
	width: 30%;
	margin: auto;	
	border-radius: 5px;
	background-color: rgba(240,240,240,0.6);
}

.container {
	top: 10px;
	padding-bottom: 30px;
	width: 80%;
	margin: 0px auto;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 5%;
	background-color: white;
	background-color: rgba(147,159,152,0.75);
	margin-top: 30px;
	padding-top: 10px;
}

#show_page_button_1 {
	float: center;
}

.header {
	margin: 0px auto;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;	
	background-color: rgba(42,89,115,1);
	width: 30%;
	position: fixed;
	padding-bottom: 10px;
}

.copyright {
	text-align: center;
}

h3 {
  margin-top: 20px;
}

body {
  color: blue;
  background-image: "app/assets/images/mt_fuji.jpg"
}

.great_wave {
	position: absolute;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	overflow: hidden;
	z-index: -1;
}
