<!DOCTYPE html>
<html>
<head>
  <title>Pogen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/pogen/app/assets/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
</head>
<body>

<%= yield %>

</body>
</html>
