<!DOCTYPE html>
<html>
<head>
  <title>HaikuGen --A Haiku Generator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/pogen/app/assets/stylesheets/normalize.css">
  <link rel="stylesheet" href="/pogen/app/assets/stylesheets/application.css">
  <link rel="stylesheet" href="/pogen/app/assets/stylesheets/layout.css">
  <link rel="stylesheet" href="pogen/app/assets/stylesheets/users.css.scss">
  <link rel="stylesheet" href="pogen/app/assets/stylesheets/show.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="header"><h1>HaikuGen</h1>
<h3>A Haiku Generator</h3>
<hr>
<button>
  <a href="/poems/new">  Create a Poem! </a>
</button>
<button>
    <a href= "/poems"> Browse poems! </a>
</button>
</div>

<img src="/assets/great_wave.jpg" class="great_wave">
<div class="container">
  <%= yield %>
</div>
<div class="copyright">
  <br><br>Copyright 2014&copy;
</div>
</body>
</html>
